.main__header{
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.main__header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;
}

.main__header-left h1{
    background: linear-gradient(90deg, var(--color-primary), var(--color-primary-variant));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__header-left{
    margin-top: 2rem;
}

.main__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}

.main__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-right{
    display: grid;
    /* background-color: blue; */
    position: relative;
}

.main__header-circle{
    width: 30rem;
    aspect-ratio: 1/1;
    background: linear-gradient(to top, var(--color-secondary), transparent);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: blur(15px);
    transition: var(--transition);
}

.main__header-image{
    position: relative;
}

@media screen and (max-width: 1024px){
    .main__header{
        height: fit-content;
        padding: 12rem 0;
    }

    .main__header-container{
        gap: 0;
    }

    .main__header-circle{
        width: 16rem;
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width: 768px){
    .main__header{
        margin-top: 0;
        padding: 12rem 0 0;
        height: 100vh;
    }

    .main__header-container{
        grid-template-columns: 1fr;
        height: 100%;
        position: relative;
    }

    .main__header-right{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .main__header-image,
    .main__header-circle{
        opacity: 0.5;  
    }

    .main__header-circle{
        width: 25rem;
    }

    .main__header-left{
        height: 100%;  
        position: relative;
        z-index: 50;
    }

    .main__header-left h1{
       text-wrap: balance;
    }

    .main__header-left p{
        margin: 2rem 0 4rem;
    }

}

@media screen and (max-width: 450px){
    .main__header-circle{
        width: 18rem;
    }
}