.section__head{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .section__head span{
    background-color: var(--color-gray-500);
    padding: .8rem;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
  }